<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatisdemo">
    <output-path>$PROJECT_DIR$/../MyBatisDemo/out/artifacts/mybatisdemo</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="MyBatisDemo" />
        </element>
      </element>
    </root>
  </artifact>
</component>